@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');


/*font-family: 'Plus Jakarta Sans', sans-serif;*/


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 40px 165px;
}

body {
    width: 940px;
    align-items: center;
}

.conteudo {
    width: 940px;
}

.conteudo-principal {
    display: flexbox;
    position: relative;
    width: 475px;
    height: 359px;
    justify-content: space-around;
}

.conteudo-imagem {
    position: absolute;
    width: 991.63px;
    height: 936.92px;
    left: 357px;
    top: -146.13px;
}

.conteudo-secundario {
    display: flexbox;
    position: relative;
    width: 1110px;
    height: 748px;
}