@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');


/*font-family: 'Plus Jakarta Sans', sans-serif;*/


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 40px 165px;
}

.cabecalho-botao {
    margin-left: 100px;
}

.conteudo-principal {
    display: flexbox;
    position: relative;
    width: 475px;
    height: 359px;
    justify-content: space-around;
}

.conteudo-imagem {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 649px;
    top: -146.13px;
}

.conteudo-secundario {
    display: flexbox;
    position: relative;
    width: 1110px;
    height: 748px;
}